<h2>Foodrepository</h2>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Food name</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key, food) in foods">
      {{name}}
      <td>{{food.name}}</td>
      <td>{{food.price | currency}}</td>
      <td>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-8">
            <button class="btn btn-warning btn-sm" ng-click="selectFood(key)" tooltip="edit food"><i class="glyphicon glyphicon-edit"></i></button>
            <button class="btn btn-primary btn-sm" tooltip="view food"><i class="glyphicon glyphicon-search"></i></button>
            <button class="btn btn-danger btn-sm" ng-click="removeFood(key)" tooltip="delete food"><i class="glyphicon glyphicon-trash"></i></button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div ng-show="showEditForm">
  <div ng-form="foodEditorForm" class="form-horizontal">
    <input ng-model="editedFood.name" type="text" required ng-minlength="3" ng-maxlength="20" ng-trim="true" placeholder="name of the food">
    <input ng-model="editedFood.price" type="number" required min="0" placeholder="price">
    <button class="btn btn-primary" ng-click="editFood(foodToEdit, editedFood.name, editedFood.price)">Save</button>
  </div>
  <h2>haloebed</h2>
</div>


