<h2>Foodrepository</h2>
<input placeholder="search" ng-model="searchField">
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Food name</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key, food) in foods | foodFilter | filter:searchField">
      <td>{{food.name}}</td>
      <td>{{food.price | currency}}</td>
      <td>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-8">
            <button class="btn btn-warning btn-sm" ng-click="selectFood(key)" tooltip="edit food"><i class="glyphicon glyphicon-edit"></i></button>
            <button class="btn btn-primary btn-sm" tooltip="view food"><i class="glyphicon glyphicon-search"></i></button>
            <button class="btn btn-danger btn-sm" ng-click="removeFood(key)" tooltip="delete food"><i class="glyphicon glyphicon-trash"></i></button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div ng-show="showEditForm">
  <form novalidate class="form-horizontal foodEditorForm" name="foodEditorForm">
    <label for="foodname" ng-show="foodEditorForm.foodname.$error.minlength">Name must have at least 3 characters!</label><br>
    <label for="foodname" ng-show="foodEditorForm.foodname.$error.maxlength">Name should not have more than 30 characters!</label><br>
    <input type="text" name="foodname" ng-model="editedFood.name" required ng-minlength="3" ng-maxlength="30" ng-trim="true" placeholder="name of the food">
    <input type="number" name="foodprice" ng-model="editedFood.price" required min="0" placeholder="price">
    <button class="btn btn-primary" ng-click="editFood(foodToEdit, editedFood.name, editedFood.price)" ng-disabled="!foodEditorForm.$valid">Save</button>
  </form>
  <h2>haloebed</h2>
</div>


